@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* Add this in your global CSS file */
@media (orientation: landscape) {
    .landscape-only {
        display: block;
    }
    .portrait-only {
        display: none;
    }
}

@media (orientation: portrait) {
    .landscape-only {
        display: none;
    }
    .portrait-only {
        display: block;
    }
}
