<!DOCTYPE html>
<html lang="en" class="h-full scrollbar-hidden ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Sentiment Analysis</title>

    <link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body class="w-full bg-gradient-to-tr from-gray-800 via-gray-900 to-gray-950">
    <header class="text-gray-400 body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a class="flex items-center mb-4 font-medium text-white title-font md:mb-0">
                <img src="/images/logo.png" class="w-8 md:w-12">

                <span class="ml-3 text-2xl font-semibold ">Sentify</span>
            </a>
            <nav class="flex items-center justify-center text-sm md:text-base md:ml-auto">
                <label for="home"><img src="/images/home.png" class="w-4 mr-2 cursor-pointer md:w-7" alt=""></label>
                <a href="/" class="mr-5 cursor-pointer hover:text-white" name="about">Home</a>
                <label for="about"><img src="/images/about.png" class="w-4 mr-2 cursor-pointer md:w-6" alt=""></label>
                <a href="/about" class="mr-5 cursor-pointer hover:text-white whitespace-nowrap" name="about">About</a>
                <label for="github"><img src="/images/github.png" class="w-4 mr-2 cursor-pointer md:w-6" alt=""></label>
                <a href="https://github.com/roshanleharwani/" class="mr-5 cursor-pointer hover:text-white"
                    name="github">Github</a>
                <span class="text-3xl">|</span>
                <div>
                    <div class="z-10 drawer drawer-end">
                        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                            <!-- Page content here -->
                            <label for="my-drawer-4" class="bg-transparent drawer-button btn"><img
                                    src="/images/menu.png" class="w-5 md:w-8" alt=""></label>
                        </div>
                        <div class="drawer-side">
                            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                            <ul class="min-h-full p-4 menu bg-base-200 text-base-content w-80">
                                <li class="flex items-center justify-center w-full my-5 text-xl text-white ">
                                    Finance Tools
                                </li>
                                <li><a href="/marketMood" class="text-lg text-gray-200 ">Market Mood
                                        Index</a></li>
                                <li><a href="/sentiment" class="text-lg text-gray-200">Sentiment Analysis</a></li>
                                <li><a href="/stockPrice" class="text-lg text-gray-200">Stock price prediction</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="flex flex-col items-center justify-center w-full h-screen -my-36 md:-m-0 md:gap-y-16 gap-y-12">

        <!-- Heading -->
        <h1 id="heading"
            class="text-[26px] font-semibold transition duration-700 ease-in-out md:text-4xl bg-clip-text bg-gradient-to-br from-gray-100 via-slate-400 to-slate-700">
            Stock Sentiment Analysis
        </h1>
        <div class="flex items-center justify-center text-base text-gray-400 md:hidden gap-x-2">
            <img src="/images/about.png" alt="" class="w-4 opacity-65 ">
            <h3 class="text-sm text-center md:text-base">Gain insights about market sentiment</h3>
        </div>
        <div class="items-center justify-center hidden text-base text-gray-400 md:flex gap-x-2">
            <img src="/images/about.png" alt="" class="w-4 opacity-65 ">
            <h3 class="text-sm text-center md:text-base">Gain insights about market sentiment with this analysis tool
            </h3>
        </div>
        <!-- Form -->
        <form action="/search" method="POST" class="flex flex-col items-center justify-center w-full ">
            <div for="ticker" class="flex items-center justify-center h-16 px-4 pr-1 rounded-full md:w-1/2 bg-zinc-950">
                <!-- Input Field -->
                <!-- <input type="text" id="tickerInput" name="ticker" required placeholder="Search using ticker name"
                    class="w-full pl-2 transition duration-700 ease-in-out bg-transparent rounded-full outline-none md:hidden caret-white focus:scale-105 focus:placeholder-transparent"> -->
                <input type="text" id="tickerInput" name="ticker" required placeholder="Search for a stock"
                    class="w-full pl-2 transition duration-700 ease-in-out bg-transparent rounded-full outline-none md:flex caret-white focus:scale-105 focus:placeholder-transparent">
                <!-- Search Icon -->
                <button id="searchButton">
                    <img src="/images/search.png" alt="search" id="searchButton" type="submit"
                        class="w-16 p-4 transition duration-500 ease-in-out rounded-full hover:scale-105 hover:bg-gray-800">
                </button>
            </div>
            <div id='toggleButton'
                class="self-end mt-2 mr-10 text-sm text-gray-400 transition cursor-pointer md:mr-0 md:self-center md:text-lg hover:underline hover:scale-105 hover:duration-300">
                More Options</div>
            <div class="flex flex-col items-center justify-center hidden w-full md:flex-row gap-x-1" id="toggleDiv">
                <div class="md:w-1/4 hover:tooltip hover:tooltip-bottom ">
                    <input type="text" name="keywords" placeholder="keywords  [comma separated] " id="keywords"
                        class="w-full h-12 p-2 mt-5  text-white focus:border-[1px] placeholder:text-sm bg-gray-950 cursor-pointer rounded-2xl hover:outline-gray-700 tooltip-info tooltip focus:border-gray-100 focus:outline-none">
                </div>
                <div class="md:w-1/4 hover:tooltip hover:tooltip-bottom">

                    <input type="text" name="country" placeholder="Enter country name" id="countryInput"
                        autocomplete="off"
                        class="w-full h-12 p-2 mt-5 inset-0 text-white placeholder:text-sm focus:border-[1px] bg-gray-950 cursor-pointer rounded-2xl hover:outline-gray-700 tooltip-info tooltip focus:border-gray-100 focus:outline-none">
                    <div class="relative">
                        <div id="suggestions"
                            class="absolute left-0 z-10 w-full mt-1 overflow-y-auto bg-gray-800 rounded-lg shadow-lg max-h-48">
                            <!-- Suggestion items will be added here dynamically -->
                        </div>
                    </div>
                </div>

            </div>

            <div id="loadingScreen"
                class="fixed inset-0 z-50 flex items-center justify-center hidden bg-gray-400 bg-opacity-70">
                <img src="/images/animate.gif" alt="Loading..." class="h-96">
            </div>

        </form>
        <div id="keycaps" class="items-center justify-center hidden -mt-10 md:flex gap-x-2">
            <img src="/images/ctrl.png" alt="" class="w-12">
            <div class="text-xl">+</div>
            <img src="/images/k.png" alt="" class="border-white w-7">
        </div>
    </main>
    <script src="/javascripts/sentimentScript.js"></script>
</body>

</html>